body{
    background:rgba(17, 17, 17, 0.445);
    color:#fff;
  }

  .navbar {
    border-bottom:#008ed6 3px solid;
    opacity:0.8;
  }
  .jumbotron{
    background:#008ed6;
  }
  
  .mapouter{
    text-align:right;height:100%;width:100%;
  }
  .gmap_canvas {
    overflow:hidden;background:none!important;height:1000px;width:100%;
  }

#home-section{
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
    min-height: 500px;
  }

#home-section .dark-overlay{
  top:400;
  left:0;
  width:100%;
  min-height: 700px;
  /* make the image darker */
  background: rgba(0,0,0,0.7)
}

#home-section .home-inner{
  padding-top:150px
}

#home-section .card-form{
  opacity: 0.8;
}

#home-section .fas,#create-section .fas {
  color:#008ed6;
  background:#fff;
  padding:5px;
  border-radius:5px;
}

#explore-section .fas, #share-section .fas{
  background:#333;
  color:#fff;
  padding: 5px;
  border-radius: 5px;

}